$breakpoint-1500: 1500px;
$breakpoint-1200: 1200px;
$breakpoint-992: 992px;
$breakpoint-768: 768px;
$breakpoint-468: 468px;
$border-top-color: #ffcb00;
$icon-color: #001022;
$readmore-color: #ffcb00;
$volume-color: #495460;
$text-color-2: #495460;
$text-color-1: #001022;
$bg-color-black: #001022;
$bg-color-black-hover: rgba(0, 16, 34, .7);
$bg-color-yellow: #ffcb00;
$bg-color-yellow-hover: rgba(255, 203, 0, .7);
$filter-sub-bg-color: #f4f3f3;
$filter-checkbox-border:#495460;
$footer-text-color: #001022;