.icon {
    float: left;
    text-align: center;
    font-weight: 700;
    position: relative;
    height: 100%;
    width: 3.75rem;
    // /display: inline-block;
    font-family: occ-icons !important;
    font-style: normal;
}