.module-2-item {
    column-count: 1;
    .card {
        cursor: pointer;
        .card-img-top {
            width: 100%;
        }
        .card-body {
            h3.card-title {
                text-align: center;
                a {
                    text-decoration: none;
                    font-weight: 500;
                    @include text(1.5rem, 2rem, $icon-color);
                    text-transform: uppercase;
                    position: relative;
                    &::before {
                        position: absolute;
                        content: '';
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                }
            }
            .card-text {
                @include text(.875rem, 1.1875, $icon-color);
                text-align: center;
            }
        }
    }
    &:hover {
        .card {
            .read-more {
                a {
                    background-color: rgba(255, 203, 0, .5);
                    ;
                }
            }
        }
    }
    @include minWidth($breakpoint-992) {
        .card {
            .card-img {
                min-height: 280px;
                .card-img-top {
                    object-fit: cover;
                    width: 100%;
                    min-height: 280px;
                }
            }
            .card-body {
                min-height: 160px;
            }
        }
    }
}