.side__navigation--main {
    .nav-list {
        border-bottom: .0625rem solid #ccc;
        justify-content: center;
        margin: 0;
        padding: 0;
        .nav-item {
            list-style: none;
            width: 100%;
            border-top: .0625rem solid #ccc;
            .menu-link {
                display: flex;
                width: 100%;
                justify-content: space-between;
                text-decoration: none;
                text-transform: uppercase;
                padding: 15px 32px;
                @include text(14px, 1.3, $icon-color);
                .icon-home {
                    position: relative;
                    margin-right: .5em;
                    margin-bottom: 0;
                    border-top: none !important;
                    border: .125rem solid $icon-color;
                    @include size(.625rem, .5626rem);
                    display: inline-block;
                    top: 6px;
                    &::before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -3px;
                        @include size(.625rem, .125rem);
                        left: 38%;
                        background-color: $icon-color;
                        transform: rotate(45deg) translate(0) translateZ(0);
                        -moz-transform: rotate(45deg) translate(0) translateZ(0);
                        -ms-transform: rotate(45deg) translate(0) translateZ(0);
                        -o-transform: rotate(45deg) translate(0) translateZ(0);
                        -webkit-transform: rotate(45deg) translate(0) translateZ(0);
                    }
                    &::after {
                        content: '';
                        display: block;
                        position: absolute;
                        top: -3px;
                        @include size(.625rem, .125rem);
                        left: -100%;
                        background-color: $icon-color;
                        transform: rotate(-45deg) translate(0) translateZ(0);
                        -moz-transform: rotate(-45deg) translate(0) translateZ(0);
                        -ms-transform: rotate(-45deg) translate(0) translateZ(0);
                        -o-transform: rotate(-45deg) translate(0) translateZ(0);
                        -webkit-transform: rotate(-45deg) translate(0) translateZ(0);
                    }
                }
            }
            .sub-menu {
                display: none;
                margin: 0;
                padding: 0;
                transition: display .3s ease;
                -webkit-transition: display .3s ease;
                -moz-transition: display .3s ease;
                -ms-transition: display .3s ease;
                -o-transition: display .3s ease;
                .sub-menu-item {
                    list-style: none;
                    padding: 15px 32px;
                    border-top: .0625rem solid #ccc;
                    img {
                        display: none;
                    }
                    a {
                        @include text(14px, 1.3, $icon-color);
                        font-weight: 600;
                        text-decoration: none;
                        img {
                            display: none;
                        }
                    }
                    .menu-link {
                        padding: 0 0 0 15px;
                    }
                    .sub-menu {
                        display: none;
                        border-top: .0625rem solid #ccc;
                        .sub-menu-item {
                            border: none;
                            &:first-child {
                                a {
                                    font-weight: 600;
                                }
                            }
                            a {
                                width: 100%;
                                padding: 14px 32px 14px 0;
                                font-weight: 300;
                            }
                        }
                    }
                }
                .two-column,
                .three-column {
                    &:last-child {
                        display: none;
                    }
                }
                .sub-active {
                    .menu-link {
                        .icon-plus {
                            &:after {
                                opacity: 0;
                            }
                        }
                    }
                    .sub-menu {
                        display: block;
                    }
                }
            }
        }
        .nav-active {
            .icon-plus {
                &::after {
                    opacity: 0;
                }
            }
            .sub-menu {
                display: block;
                .sub-menu-item {
                    .menu-link {
                        .icon-plus {
                            &:after {
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    @include minWidth($breakpoint-992) {
        background-color: #fff;
        margin: 0 auto;
        padding: 10px;
        position: relative;
        box-shadow: 0px 15px 10px -15px #111;
        .nav-list {
            @include size(100%, 100%);
            background-color: #fff;
            display: flex;
            border-bottom: none;
            .nav-item {
                border-top: none;
                min-width: 50px;
                width: auto;
                margin: 0 8px;
                &:nth-child(-n+2) {
                    display: none;
                }
                .menu-link {
                    font-size: 13px !important;
                    padding: 6px 8px;
                    text-align: center;
                    position: relative;
                    .nav-text {
                        width: 100%;
                        font-size: 14px;
                        font-weight: 500;
                    }
                    .icon {
                        display: none;
                    }
                }
                .menu-link-hover {
                    &:hover {
                        border-bottom: 2px solid $icon-color;
                        &::after {
                            display: block;
                        }
                        aside {
                            opacity: 1;
                        }
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        right: 0;
                        bottom: -.4375rem;
                        margin: auto;
                        z-index: 2;
                        width: 0;
                        height: 0;
                        border: 0;
                        border-top: .4375rem solid #001022;
                        border-left: .4375rem solid transparent;
                        border-right: .4375rem solid transparent;
                        display: none
                    }
                }
                .sub-menu {
                    opacity: 0;
                    transform: translateY(-200%);
                    -webkit-transform: translateY(-200%);
                    -moz-transform: translateY(-200%);
                    -ms-transform: translateY(-200%);
                    -o-transform: translateY(-200%);
                    position: absolute;
                    left: 0;
                    width: 100%;
                    height: auto;
                    background-color: #fff;
                    padding: 60px 40px;
                    z-index: -1000;
                    display: flex;
                    flex-wrap: wrap;
                    .sub-menu-item {
                        position: relative;
                        border-top: none;
                        background-color: #fff;
                        a {
                            text-transform: uppercase;
                            font-weight: 300;
                            font-size: 14px;
                            &:focus {
                                outline: 2px dotted #000;
                            }
                        }
                        .sub-menu {
                            z-index: 100;
                            display: block;
                            border-top: none;
                            padding: 0;
                            .sub-menu-item {
                                border: none;
                                padding: 0;
                                &:first-child {
                                    a {
                                        font-weight: 600;
                                    }
                                }
                                a {
                                    width: 100%;
                                    padding: 0;
                                    font-weight: 500;
                                }
                            }
                        }
                    }
                    .four-column {
                        width: 25%;
                        a {
                            display: flex;
                            align-items: center;
                            img {
                                display: block;
                                width: 30%;
                                margin-right: 10%;
                            }
                        }
                    }
                    .two-column {
                        width: 30%;
                        margin: 0 10%;
                    }
                    .three-column {
                        width: 25%;
                        display: inline-block;
                        text-align: center;
                        margin: 0 4%;
                        padding: 0;
                        a {
                            margin-top: 10px;
                            text-align: center;
                            &::before {
                                width: 100%;
                                height: 100%;
                                top: 0;
                                left: 0;
                                position: absolute;
                                content: '';
                            }
                        }
                    }
                    .two-column,
                    .three-column {
                        &:last-child {
                            display: block;
                        }
                        img {
                            width: 100%;
                            display: block;
                        }
                        .menu-link-border {
                            border-top: 1px solid #ccc;
                            border-bottom: 1px solid #ccc;
                            padding: 15px 0;
                            text-align: center;
                        }
                        .sub-menu {
                            padding-top: 10px;
                            .sub-menu-item {
                                &:first-child {
                                    display: none;
                                }
                                text-align: left;
                                padding-left: 40px;
                                a {
                                    text-transform: unset;
                                    &:hover {
                                        text-decoration: underline;
                                    }
                                }
                            }
                        }
                        .product__item {
                            .product__item--top {
                                img {
                                    width: 40%;
                                    margin: 0 auto;
                                }
                            }
                            .product__item--middle {
                                margin-bottom: 0;
                                min-height: 40px;
                            }
                        }
                    }
                    transition: transform 1s ease;
                    -webkit-transition: transform 1s ease;
                    -moz-transition: transform 1s ease;
                    -ms-transition: transform 1s ease;
                    -o-transition: transform 1s ease;
                }
            }
            .center {
                text-align: center;
            }
            .menu-active {
                .sub-menu {
                    opacity: 1;
                    transform: translateY(10px);
                    -webkit-transform: translateY(10px);
                    -moz-transform: translateY(10px);
                    -ms-transform: translateY(10px);
                    -o-transform: translateY(10px);
                }
            }
        }
    }
}