.product-list-top {
    display: none;
    width: 100%;
    border-bottom: 1px solid #ccc;
    margin: 5px 0 20px;
    padding: 0 0 20px;
    align-items: center;
    h2.top-title {
        width: 30%;
        font-size: 16px;
        font-weight: 300;
        .total-product {
            font-weight: 600;
        }
    }
    .sort-product {
        text-align: right;
        width: 70%;
        label {
            text-transform: uppercase;
        }
        #sort-select {
            cursor: pointer;
        }
    }
    @include minWidth($breakpoint-992) {
        display: flex;
    }
}