@mixin text($fontSzie, $lineHeight, $letterSpacing, $color) {
    font-size: $fontSzie;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: $color;
}

@mixin btnClean($pdTB, $pdLR) {
    @extend %btn-clean;
    padding: $pdTB $pdLR;
}

@mixin centerAbsolute($pos) {
    position: absolute;
    @if $pos=="both" {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }
    @else if $pos=="left" {
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
    @else if $pos=="top" {
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
    @else if $pos=="right" {
        right: 0;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
    }
}