body {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    position: relative;
}

.preloader-site {
    overflow: hidden;
    header,
    footer,
    section {
        opacity: 0;
        transition: opacity .3s;
    }
}

.loaded {
    header,
    footer,
    section {
        opacity: 1;
    }
}

html {
    scroll-behavior: smooth;
}

$font-family-2: 'Oswald',
sans-serif;
$font-family-3: 'Poppins',
sans-serif;
;
$hover-color: #f7992b;
$contact-hover-color: #3b3d42;
$btn-bg-color: #f7992b;
@mixin text($fontSzie, $lineHeight, $letterSpacing, $color) {
    font-size: $fontSzie;
    line-height: $lineHeight;
    letter-spacing: $letterSpacing;
    color: $color;
}

@mixin viewMoreButton($text-color, $bg-color, $border-color, $text-hover-color, $bg-hover-color) {
    @include text(14px, 1.71em, 8.4px, $text-color);
    text-transform: uppercase;
    font-family: $font-family-2;
    text-decoration: none;
    padding: 18px 38px 18px 47px;
    background-color: $bg-color;
    border: 1px solid $border-color;
    border-radius: 3px;
    font-weight: bold;
    transition: all .3s ease-in-out;
    &:hover {
        color: $text-hover-color;
        background-color: $bg-hover-color;
    }
}

@mixin socialIcon {
    .social-icon-wrapper {
        float: right;
        .social-icon {
            color: #fff;
            margin: 0 1px 0 0;
            padding: 7.5px;
            font-size: 17px;
            text-decoration: none;
            &:hover {
                color: $hover-color;
                font-size: 15px;
            }
        }
    }
}

@mixin titleWrapper() {
    .title-wrapper {
        padding: 0 15px 0 45px;
        h3 {
            font-family: $font-family-2;
            font-weight: 300;
            text-transform: uppercase;
            animation-duration: 1s;
        }
        h2 {
            font-family: $font-family-2;
            font-weight: 700;
            text-transform: uppercase;
            animation-duration: 1s;
        }
        .line {
            margin: 30px 0;
            border-top: 4px solid #f7992b;
            width: 70px;
            align-self: center;
            animation-duration: 1s;
        }
    }
}

@function calcHeight ($width) {
    @return ($width * 16 / 9);
}


/* ----------- LOADING ---------- */

.loading {
    z-index: 1000;
    position: fixed;
    background-color: #000;
    opacity: .8;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}


/*
============== HEADER INFORATION =============
*/

.header-info {
    background-color: #000;
    padding: 15px 0;
    .info-wrapper {
        white-space: nowrap;
        i {
            color: #fff;
            font-size: 17px;
        }
        a {
            text-decoration: none;
            color: #fff;
            &:hover {
                color: $hover-color;
            }
        }
        span {
            color: #fff;
        }
    }
    .header-info-right {
        @include socialIcon();
    }
}


/*
============== HEADER MENU =============
*/

.header {
    background-color: rgba(0, 0, 0, .8);
    padding: 25px 0 30px;
    .navbar {
        background-color: unset;
        margin-bottom: 0;
        border: none;
        .navbar-header {
            .navbar-brand {
                img {
                    width: 20%;
                    position: absolute;
                    top: 50%;
                    left: 10%;
                    transform: translate(-50%, -50%);
                }
            }
            .menu-btn {
                display: none;
                float: right;
                background-color: transparent;
                border: none;
                color: #fff;
                font-size: 23px;
                position: absolute;
                top: 50%;
                right: 0;
                transform: translateY(-50%);
                outline: none;
            }
        }
        .navbar-collapse {
            .navbar-nav {
                .close-btn {
                    display: none;
                    right: 20px;
                    top: 20px;
                    position: absolute;
                    z-index: 100;
                }
                li {
                    margin: 0px 15px 0px 15px;
                    a {
                        text-transform: uppercase;
                        font-weight: 400;
                        @include text(17px, 17px, 1.2px, #fff);
                        font-family: $font-family-2;
                        &:hover {
                            color: $hover-color;
                        }
                    }
                }
                li.active {
                    a {
                        color: $hover-color;
                        background-color: unset;
                    }
                }
            }
        }
    }
}


/*
============== SLIDER =============
*/

.slider {
    .swiper-container {
        .swiper-wrapper {
            .swiper-slide {
                height: 100vh;
                overflow: hidden;
                img {
                    width: 100%;
                    object-fit: cover;
                    min-height: 100vh;
                }
                .slide-content {
                    display: none;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    animation: upText 1s ease;
                    .slide-title {
                        text-align: center;
                        @include text(80px, 90px, 4px, #fff);
                        font-family: $font-family-2;
                        text-transform: uppercase;
                        margin: 0 0 10px 0;
                        font-weight: 700;
                    }
                    .slide-desc {
                        text-align: center;
                        align-self: center;
                        font-family: $font-family-2;
                        @include text(38px, 42px, 1.4px, #fff);
                        margin: 0;
                        padding: 0;
                        font-weight: 300;
                    }
                    .btn-more {
                        text-align: center;
                        margin-top: 50px;
                        .view-more-btn {
                            @include viewMoreButton(#fff, $btn-bg-color, $btn-bg-color, $hover-color, transparent);
                        }
                    }
                }
            }
            .swiper-slide-active {
                .slide-content {
                    display: block;
                }
            }
        }
        .swiper-button-next,
        .swiper-button-prev {
            color: #fff;
            font-size: 35px;
            transition: all .3s ease;
            &:hover {
                color: $hover-color;
            }
        }
    }
}

@keyframes upText {
    from {
        top: 75%;
        opacity: 0;
    }
    to {
        top: 50%;
        opacity: 1;
    }
}


/*
============== ABOUT SECTION =============
*/

.about {
    padding: 73px 0 49px;
    @include titleWrapper();
    .title-wrapper {
        h3 {
            @include text(14px, 1.285em, 1.4px, #000);
        }
        h2 {
            @include text(48px, 1.125em, 2.4px, #000);
        }
    }
    .content-wrapper {
        padding: 36px 15px 0 27px;
        .content {
            @include text(14px, 2.143em, 1px, #000);
        }
        .first {
            font-weight: 500;
        }
        .second {
            font-weight: 300;
        }
    }
}


/*
============== IMAGE ARTICLE SECTION =============
*/

.image-article {
    position: relative;
    z-index: 100;
    .wrapper {
        position: relative;
        height: calcHeight(360px);
        .img-frame {
            width: 100%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
            padding: 450px 0 75px 0;
            min-height: calcHeight(360px);
        }
        .architecture {
            background-image: url(/images/Architecture.jpg);
        }
        .engineering {
            background-image: url(/images/Engineering.jpg);
        }
        .interior {
            background-image: url(/images/Interior-Design.jpg);
        }
        .image-title {
            position: absolute;
            width: 100%;
            top: 80%;
            left: 50%;
            text-align: center;
            transform: translate(-50%, -50%);
            a {
                text-decoration: none;
                @include text(24px, 2.25em, 1.2px, #fff);
                text-transform: uppercase;
                font-weight: 700;
                font-family: $font-family-2;
                transition: all .3s ease;
                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
}


/*
============== ADVANTAGES & TESTIMONIALS SECTION =============
*/

.section-wrapper {
    display: flex;
    width: 100%;
    margin-top: 264px;
    .advantages {
        position: relative;
        background-color: #000;
        width: 50%;
        padding: 0% 2% 0% 15%;
        .advantage-wrapper {
            .space-top {
                height: 113px;
            }
            .space-bottom {
                height: 117px;
            }
            .title-wrapper {
                h3 {
                    font-family: $font-family-2;
                    @include text(18px, 1.285em, 1.8px, #fff);
                    font-weight: 300;
                    text-transform: uppercase;
                    animation: line-right-to-left .6s cubic-bezier(.17, .67, .83, .67);
                }
                h2 {
                    font-family: $font-family-2;
                    @include text(36px, 1.333em, 1.8px, #fff);
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .line {
                    margin: 30px 0;
                    border-top: 4px solid #f7992b;
                    width: 70px;
                    align-self: center;
                    animation: line-right-to-left .8s cubic-bezier(.17, .67, .83, .67);
                }
            }
            .advantage-content {
                padding: 19px 120px 0 0;
                p {
                    @include text(14px, 2.143em, 0px, #fff);
                    font-weight: 300;
                }
            }
            .btn-more {
                text-align: left;
                margin: 36px 0 0 3px;
                .view-more-btn {
                    @include viewMoreButton($hover-color, #000, $btn-bg-color, #fff, $btn-bg-color);
                }
            }
        }
    }
    .testimonials {
        padding: 369px 15px 147px 114px;
        margin: -504px 0px 187px 0;
        width: 50%;
        background-image: url(/images/home-testimonials-bg.jpg);
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        .testimonial-overlay {
            position: absolute;
            background-color: $btn-bg-color;
            opacity: .9;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            z-index: 0;
        }
        .testimonial-wrap {
            position: relative;
            .testimonial-icon-wrapper {
                margin-left: -50px;
                .testimonial-icon {
                    color: rgba(255, 255, 255, .35);
                    border-color: rgba(255, 255, 255, .35);
                    font-size: 98px;
                }
            }
            .title-wrapper {
                margin-top: -90px;
                h3 {
                    font-family: $font-family-2;
                    @include text(14px, 1.285em, 1.4px, #fff);
                    font-weight: 300;
                    text-transform: uppercase;
                    animation: line-right-to-left .6s cubic-bezier(.17, .67, .83, .67);
                }
                h2 {
                    font-family: $font-family-2;
                    @include text(36px, 1.333em, 1.8px, #fff);
                    font-weight: 700;
                    text-transform: uppercase;
                }
                .line {
                    margin: 30px 0;
                    border-top: 4px solid #fff;
                    width: 70px;
                    align-self: center;
                    animation: line-right-to-left .8s cubic-bezier(.17, .67, .83, .67);
                }
            }
            .testimonial-content {
                .swiper-container {
                    padding: 0 0 50px 0;
                    .swiper-slide {
                        .testimonial-comment {
                            padding: 19px 0 33px;
                            width: 390px;
                            p {
                                @include text(18px, 2em, 0px, #fff);
                                font-weight: 300;
                                font-style: italic;
                                text-align: left;
                            }
                        }
                        .testimonial-name {
                            @include text(18px, 3.27em, 1.8px, #fff);
                            font-weight: 700px;
                            text-transform: uppercase;
                            font-family: $font-family-2;
                            display: inline;
                        }
                        .testimonial-position {
                            @include text(18px, 3.27em, 1px, #fff);
                            font-weight: 300;
                            text-align: left;
                            text-transform: uppercase;
                            font-family: $font-family-2;
                            display: inline;
                        }
                    }
                    .swiper-pagination {
                        text-align: left;
                        .swiper-pagination-bullet {
                            background-color: #fff;
                            margin: 0 13px;
                        }
                        .swiper-pagination-bullet-active {
                            background-color: transparent;
                            border: 1px solid #fff;
                            transform: scale(1.5);
                        }
                    }
                }
            }
        }
    }
}


/*
============== PORTFOLIO SECTION =============
*/

.porfolio {
    .porfolio-title {
        padding: 75px 0 47px;
        @include titleWrapper();
        .title-wrapper {
            h3 {
                @include text(14px, 1.285em, 1.4px, #000);
            }
            h2 {
                @include text(48px, 1.125em, 2.4px, #000);
            }
        }
        .content-wrapper {
            padding: 36px 15px 0 27px;
            .content {
                @include text(14px, 2.143em, 1px, #000);
            }
        }
    }
    .porfolio-gallery {
        a {
            .image-wrapper {
                position: relative;
                margin: 15px 0;
                overflow: hidden;
                height: calcHeight(360px);
                img {
                    object-fit: cover;
                    width: 100%;
                    min-height: calcHeight(360px);
                }
                .overlay {
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: all .5s ease-in-out;
                    background-color: rgba(247, 153, 43, .7);
                    .overlay-content {
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        transform: translate(-50%, -50%);
                        .overlay-title {
                            @include text(24px, 1.65em, 1.2px, #fff);
                            font-weight: 700;
                            text-transform: uppercase;
                            font-family: $font-family-2;
                            text-align: center;
                        }
                        .overlay-desc {
                            @include text(14px, 0, 1.4px, #fff);
                            font-weight: 700;
                            text-transform: uppercase;
                            font-family: $font-family-2;
                            text-align: center;
                        }
                    }
                }
                &:hover {
                    .overlay {
                        opacity: 1;
                    }
                }
            }
        }
        .btn-more {
            text-align: center;
            margin-top: 50px;
            .view-more-btn {
                @include viewMoreButton($hover-color, #fff, $btn-bg-color, #fff, $btn-bg-color);
            }
        }
    }
}


/*
============== PARTNER SECTION =============
*/

.partner {
    padding: 72px 0 25px;
    @include titleWrapper();
    .title-wrapper {
        h3 {
            @include text(14px, 1.285em, 1.4px, #000);
        }
        h2 {
            @include text(48px, 1.125em, 2.4px, #000);
        }
    }
    .partner-wrapper {
        padding: 46px 33px 0 12px;
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        .partner-logo {
            width: 33.3333%;
            margin: 10px 0;
            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}


/*
============== LATEST NEWS SECTION =============
*/

.news {
    position: relative;
    .left-wrap {
        background-color: #000;
        padding: 0 138.578px 0 303.813px;
        .space-top {
            height: 114px;
        }
        .space-bottom {
            height: 87px;
        }
        .title-wrapper {
            h3 {
                font-family: $font-family-2;
                @include text(14px, 1.285em, 1.4px, #fff);
                font-weight: 300;
                text-transform: uppercase;
                animation: line-left-to-right .6s cubic-bezier(.17, .67, .83, .67);
            }
            h2 {
                font-family: $font-family-2;
                @include text(36px, 1.125em, 2.4px, #fff);
                font-weight: 700;
                text-transform: uppercase;
                animation: line-right-to-left .6s cubic-bezier(.17, .67, .83, .67);
            }
            .line {
                margin: 30px 0;
                border-top: 4px solid #f7992b;
                width: 70px;
                align-self: center;
                animation: line-left-to-right .8s cubic-bezier(.17, .67, .83, .67);
            }
        }
        .news-content {
            .swiper-container {
                padding: 0px 0 50px 0;
                .swiper-slide {
                    .post-title {
                        a {
                            @include text(24px, 1.25em, 1.2px, #fff);
                            text-transform: uppercase;
                            font-weight: 700;
                            font-family: $font-family-2;
                            text-decoration: none;
                            transition: all .3s ease;
                            &:hover {
                                color: $hover-color;
                            }
                        }
                    }
                    .post-meta {
                        margin: 20px 0;
                        span {
                            @include text(14px, 2.142em, 0px, #fff);
                            font-weight: 300;
                            text-align: left;
                            a {
                                text-decoration: none;
                                color: #fff;
                                &:hover {
                                    color: $hover-color;
                                }
                            }
                        }
                    }
                    .post-excerpt {
                        @include text(14px, 2.142em, 0px, #fff);
                        font-weight: 300;
                        text-align: left;
                    }
                }
                .swiper-pagination {
                    text-align: left;
                    .swiper-pagination-bullet {
                        background: #fff;
                        margin: 0 10px;
                    }
                    .swiper-pagination-bullet-active {
                        background-color: #000;
                        border: 1px solid $hover-color;
                        transform: scale(1.5);
                    }
                }
            }
        }
    }
    .right-wrap {
        background-color: $btn-bg-color;
        padding: 0 209.234px 0 133.906px;
        //margin: 100px 0;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        .space-top {
            height: 115px;
        }
        .space-bottom {
            height: 118px;
        }
        .title-wrapper {
            h3 {
                font-family: $font-family-2;
                @include text(14px, 1.285em, 1.4px, #fff);
                font-weight: 300;
                text-transform: uppercase;
            }
            h2 {
                font-family: $font-family-2;
                @include text(36px, 1.125em, 2.4px, #fff);
                font-weight: 700;
                text-transform: uppercase;
            }
            p {
                @include text(14px, 2.143em, 0, #fff);
                font-weight: 300;
                margin: 30px 0;
            }
        }
        .subscribe-form {
            width: 100%;
            display: flex;
            border: 1px solid #fff;
            input {
                width: 90%;
                @include text(14px, 1.93em, 0, #fff);
                background-color: rgba(0, 0, 0, 0);
                padding: 8px 21px 8px 21px;
                border: none;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #fff;
                    opacity: 1;
                }
            }
            button {
                width: 10%;
                color: #fff;
                background-color: transparent;
                border: none;
                text-align: center;
                position: relative;
                cursor: pointer;
                &:focus {
                    outline: none;
                }
                i {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                }
            }
        }
    }
}


/*
============== CONTACT SECTION =============
*/

.contact {
    padding: 82px 0 71px;
    @include titleWrapper();
    .title-wrapper {
        padding: 0;
        ;
        h3 {
            @include text(14px, 1.285em, 1.4px, #000);
        }
        h2 {
            @include text(36px, 1.125em, 2.4px, #000);
        }
    }
    .contact-info {
        p {
            @include text(16px, 2.2em, 0, #000);
            font-weight: 300;
            font-family: $font-family-3;
            a {
                color: $hover-color;
                text-decoration: none;
                &:hover {
                    color: $contact-hover-color;
                }
            }
        }
    }
    .social-icons-wrapper {
        margin-top: 28px;
        .social-icon {
            font-size: 20px;
            padding: 10px;
            text-decoration: none;
            color: #000;
            &:hover {
                color: $hover-color;
            }
        }
    }
    .form-wrapper {
        padding: 162px 0 0 0;
        .form-contact {
            input[type=text],
            input[type=email],
            textarea {
                @include text(16px, 1.625em, 0, gray);
                background-color: rgba(0, 0, 0, 0.03);
                border: 1px solid rgba(0, 0, 0, 0.03);
                padding: 9px 15px 10px 15px;
                width: 100%;
                margin: 20px 0 10px 0;
                &:focus {
                    outline: none;
                }
            }
            .not-valid-name,
            .not-valid-email {
                color: red;
                display: none;
            }
            .validate-errors {
                color: red;
                margin-top: 10px;
                display: none;
            }
            textarea {
                resize: vertical;
            }
        }
        .btn-submit {
            margin-top: 20px;
            @include viewMoreButton($hover-color, rgba(68, 123, 224, 0.01), $btn-bg-color, #fff, $btn-bg-color);
            &:focus {
                outline: none;
            }
        }
    }
}


/*
============== FOOTER SECTION =============
*/

.footer {
    background-color: #2B3238;
    padding: 90px 0 70px;
    .footer-col {
        h2 {
            @include text(18px, 1.4444em, 0.9px, #fff);
            text-transform: uppercase;
            font-weight: 700;
            font-family: $font-family-2;
        }
        .about-content {
            @include text(14px, 2.162em, 0px, #fff);
        }
        .menu-tags {
            display: flex;
            width: 100%;
            justify-content: flex-start;
            text-align: left;
            flex-wrap: wrap;
            .tag-wrapper {
                margin: 10px 3px 5px 0px;
                a {
                    color: #fff;
                    padding: 6px 19px 7px 19px;
                    border: 1px solid #fff;
                    text-decoration: none;
                    transition: all .3s ease-in;
                    span {
                        @include text(12px, 12px, 0.6px, #fff);
                        font-weight: 700;
                        text-transform: uppercase;
                        transition: all .3s ease-in;
                        font-family: $font-family-2;
                    }
                    &:hover {
                        border-color: $hover-color;
                        span {
                            color: $hover-color;
                        }
                    }
                }
            }
        }
        .post {
            .list-meta {
                .author {
                    margin-right: 5px;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    &:hover {
                        color: $hover-color;
                    }
                }
            }
            .post-title {
                margin: 10px 0 20px 0;
                a {
                    @include text(18px, 1.6667px, 0.9px, $hover-color);
                    font-weight: 700;
                    text-transform: uppercase;
                    font-family: $font-family-2;
                    text-decoration: none;
                    &:hover {
                        color: #fff;
                    }
                }
            }
        }
    }
}


/* ============= COPYRIGHT SECTION ============= */

.copyright {
    background-color: #000;
    padding: 15px 0;
    .copyright-logo {
        img {
            width: 40%;
        }
    }
    .copyright-content {
        color: #fff;
        text-align: center;
    }
    .copyright-social {
        @include socialIcon();
    }
}


/* ============= TO TOP ============= */

#toTop {
    right: 20px;
    position: fixed;
    bottom: 15px;
    overflow: hidden;
    color: $hover-color;
    z-index: 100;
    display: none;
    cursor: pointer;
    &::before {
        content: '\f106';
        display: inline-block;
        font-size: 25px;
        font-family: FontAweSome;
        width: 100%;
    }
}

@media (max-width: 1200px) {
    /*
============== LATEST NEWS SECTION =============
*/
    .news {
        .left-wrap {
            padding: 0px 15px 0px 15px;
        }
        .right-wrap {
            padding: 0px 15px 0px 15px;
        }
    }
}

@media (max-width: 991px) {
    /* ============= HEADER INFORMATION ============= */
    .header-info {
        .info-wrapper {
            text-align: center;
            margin: 5px 0;
        }
        .header-info-right {
            margin: 5px 0;
            .social-icon-wrapper {
                text-align: center;
                float: none;
            }
        }
    }
    .header {
        .navbar {
            .navbar-collapse {
                .navbar-nav {
                    li {
                        margin: 0;
                    }
                }
            }
        }
    }
    /*
============== SLIDER =============
*/
    .slider {
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    .slide-content {
                        .slide-title {
                            @include text(60px, 74px, 4px, #fff);
                        }
                        .btn-more {
                            .view-more-btn {
                                padding: 15px 20px 15px 25px;
                            }
                        }
                    }
                }
            }
        }
    }
    .image-article {
        .container {
            width: unset;
        }
    }
    /* ============= ADVANTAGE & TESTIMONIALS INFORMATION ============= */
    .section-wrapper {
        .advantages {
            padding: 0 15px;
            .advantage-wrapper {
                .advantage-content {
                    padding: 19px 0px 0 0;
                }
            }
        }
        .testimonials {
            padding: 369px 10px 148px 10px;
            .testimonial-wrap {
                .testimonial-content {
                    .swiper-container {
                        padding: 0 0 50px 0;
                        .swiper-slide {
                            .testimonial-comment {
                                padding: 0;
                                width: 350px;
                            }
                        }
                    }
                }
            }
        }
    }
    /* ============= PORFOLIO INFORMATION ============= */
    .porfolio {
        .modal {
            .modal-content {
                width: 60%;
                .next {
                    right: -20%;
                    border-radius: 3px 0 0 3px;
                }
                .prev {
                    left: -20%;
                    border-radius: 3px 0 0 3px;
                }
            }
        }
    }
    /*
============== PARTNER SECTION =============
*/
    .partner {
        .partner-wrapper {
            .partner-logo {
                width: 50%;
            }
        }
    }
    /*
============== LATEST NEWS SECTION =============
*/
    .news {
        .left-wrap {
            padding: 0px 15px 0px 15px;
        }
        .right-wrap {
            padding: 0px 15px 0px 15px;
        }
    }
    /*
============== CONTACT SECTION =============
*/
    .contact {
        padding: 0px 0 71px;
    }
    /* ============= COPYRIGHT SECTION ============= */
    .copyright {
        background-color: #000;
        padding: 15px 0;
        .copyright-logo {
            img {
                margin: 0 auto;
                display: block;
                width: 20%;
            }
        }
        .copyright-content {
            color: #fff;
            text-align: center;
        }
        .copyright-social {
            .social-icon-wrapper {
                text-align: center;
                float: none;
            }
        }
    }
}

@media (max-width: 767px) {
    /*
============== MENU =============
*/
    .header {
        .navbar {
            .navbar-header {
                .menu-btn {
                    display: block;
                }
            }
            .collapse {
                display: block;
                position: relative;
                .navbar-nav {
                    margin: 0;
                    z-index: 1100;
                    position: fixed;
                    width: 60%;
                    height: 100vh;
                    display: none;
                    top: 0;
                    right: -60%;
                    background-color: #000;
                    .close-btn {
                        display: block;
                    }
                    li {
                        &:nth-child(2) {
                            margin-top: 20px;
                        }
                    }
                }
                .navbar-active {
                    right: 0 !important;
                    animation: menuActive .3s ease-in;
                    display: block;
                }
            }
            .navbar-collapse {
                border: none;
            }
        }
    }
    /*
============== SLIDER =============
*/
    .slider {
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    .slide-content {
                        .slide-title {
                            @include text(38px, 40px, 1px, #fff);
                        }
                        .slide-desc {
                            @include text(26px, 28px, 1px, #fff);
                        }
                    }
                }
            }
        }
    }
    /*
============== IMAGE ARTICLE SECTION =============
*/
    .image-article {
        .wrapper {
            margin: 20px 0;
        }
    }
    /* ============= ADVANTAGE & TESTIMONIALS INFORMATION ============= */
    .section-wrapper {
        flex-direction: column;
        margin-top: 0px;
        .advantages {
            width: 100%;
        }
        .testimonials {
            z-index: 0;
            width: 100%;
            margin: 0;
            padding: 100px 15px 50px 50px;
        }
    }
    /*
============== PARTNER SECTION =============
*/
    .partner {
        .partner-wrapper {
            .partner-logo {
                width: 50%;
                margin: 20px 0;
            }
        }
    }
    /*
============== LATEST NEWS SECTION =============
*/
    .news {
        .right-wrap {
            margin: 0;
            position: unset;
            top: 0;
            transform: unset;
        }
    }
    /*
============== CONTACT SECTION =============
*/
    .contact {
        padding: 50px 0 71px;
        .form-wrapper {
            padding: 30px 0 0;
        }
    }
    .footer {
        .footer-col {
            margin: 20px 0;
        }
    }
}

@media (max-width: 468px) {
    /*
============== SLIDER =============
*/
    .slider {
        .swiper-container {
            .swiper-wrapper {
                .swiper-slide {
                    .slide-content {
                        .slide-title {
                            @include text(28px, 30px, 1px, #fff);
                        }
                        .slide-desc {
                            @include text(20px, 20px, 1px, #fff);
                        }
                        .btn-more {
                            text-align: center;
                            margin-top: 30px;
                            .view-more-btn {
                                @include text(14px, 14px, 1px, #fff);
                                white-space: nowrap;
                                padding: 10px 20px !important;
                                @include viewMoreButton(#fff, $btn-bg-color, $btn-bg-color, $hover-color, transparent);
                            }
                        }
                    }
                }
            }
        }
    }
    /*
============== PARTNER SECTION =============
*/
    .partner {
        .partner-wrapper {
            .partner-logo {
                width: 100%;
                margin: 20px 0;
            }
        }
    }
}


/* ========= Overlay Menu ======== */

.overlay-menu {
    z-index: 1000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: .8;
    background-color: $contact-hover-color;
    display: none;
    transition: all .3s ease-in;
}

@keyframes menuActive {
    from {
        right: -60%;
        opacity: 0;
    }
    to {
        right: 0;
        opacity: 1;
    }
}