@font-face {
    font-family: occ-icons;
    src: url(../fonts/occ-icons.woff2) format('woff2');
}

@font-face {
    font-family: Raleway3, Arial, Sans-serif;
    src: url(../fonts/Raleway-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Raleway3, Arial, Sans-serif;
    src: url(../fonts/Raleway-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Raleway3, Arial, Sans-serif;
    src: url(../fonts/Raleway-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Raleway3, Arial, Sans-serif;
    src: url(../fonts/Raleway-MediumItalic.ttf);
    font-weight: 500;
}

@font-face {
    font-family: Raleway3, Arial, Sans-serif;
    src: url(../fonts/Raleway-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Raleway3, Arial, Sans-serif;
    src: url(../fonts/Raleway-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: Martel;
    src: url(../fonts/Martel-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: Martel;
    src: url(../fonts/Martel-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Martel;
    src: url(../fonts/Martel-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: Martel;
    src: url(../fonts/Martel-ExtraBold.ttf);
    font-weight: 800;
}